body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(229, 213, 255);
}
body::-webkit-scrollbar-thumb {
  background: rgb(109, 40, 219);
}
.hero-section-bg-img ,.testimonial{
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
  animation: changeBackground 15s infinite;
}

/* Define the keyframes for background change */
@keyframes changeBackground {
  0% { background-image: url(./assets/background1.jpg); }
  33.33% { background-image: url(./assets/background2.jpg); }
  66.66% { background-image: url(./assets/background3.png); }
  100% { background-image: url(./assets/background1.jpg); }

}



.cart-badge{
background-color: rgb(237, 2, 2);
border-radius: 50%;
width: 18px;
font-size: 10px;
color: white;
aspect-ratio: 1/1;
display: grid;
place-content: center;
position: absolute;
top: -5px;
margin-left: 11px;
}



.cartList::-webkit-scrollbar-track {
  background-color: rgb(229, 213, 255);
}
.cartList::-webkit-scrollbar-thumb {
  background: rgb(109, 40, 219);
}










.styled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 26px;
  height: 24px;
  border: 2px solid  rgb(109, 40, 219);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.styled-checkbox:hover{
  border: 2px solid rgb(255, 255, 255);

}

.styled-checkbox:checked {
  background-color: rgb(109, 40, 219);
  border-color: rgb(109, 40, 219);
}
.styled-checkbox:checked:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
}

.styled-checkbox::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 17px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform-origin: bottom left;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.styled-checkbox:checked::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg);
} 



































.filterColor-checkbox{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
}





.filterColor-checkbox:checked:hover{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
}

.filterColor-checkbox::after{
  content: '';
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 17px;
  border: solid #dbdadd;
  border-width: 0 3px 3px 0;
  transform-origin: bottom left;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.filterColor-checkbox-white-bg::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 17px;
  border: solid #000000 ;
  border-width: 0 3px 3px 0;
  transform-origin: bottom left;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.filterColor-checkbox:checked::after{
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg);
} 
